@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Nova Mono', monospace;
}
body{
    font-size: 100%;
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}
html, body{
    width: 100%;
    overflow-x: hidden;
}
/**/
.body{
    min-height: calc(100vh - 40px);
    padding-bottom: 40px;
}
footer{
    line-height: 0;
}

/*Header classes*/
.header{
    background-color:#0cc945;
    border-bottom: 3px solid #efefef;
    /*Box-model*/
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-content-text h1{
    /*Typography*/
    font-size: 25px;
    font-weight: 800;
    color:rgb(255, 255, 255);
    text-shadow: 2px 1px #969191;
}
.header-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*Positioning*/
}
.header-desktop h3{
    /*Typography*/
    font-size: 15px;
    font-weight: 800;
    color:rgb(255, 255, 255);
    text-shadow: 1px 1px #969191;
}
.header-desktop ul{
    display: flex;
    flex-direction: row;
}
.header-desktop ul li{
    margin: 2px;
}

.header-desktop button{
    /*Box-model*/
    border-radius: 50%; 
    height: 45px;
    width: 45px;
    /*Visual*/
    background-color: #0cc945;
    border: 2px solid green;
    box-shadow: 4px 5px 4px rgb(0,0,0,0.25);
}
.header-mobile{
    display: none;
}
.logo-elen{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 0.5px solid rgb(0, 0, 0, 0.25);
    box-shadow: 2px 3px 4px rgb(0,0,0,0.25);
    margin-left: 5px;
}
/**/
.content-section-1{
    /*Box-model*/
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
    /*Position*/
}
#content-section-1-0p{
    font-size: 15px;
}
#content-section-1-h2 {
    margin-top: 0;
    /*Typography*/
    font-size: 35px;
    font-weight: 800;
    color: black;
}
.background-image{
    background-image: url(img/imagemsite_7.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}
/*Article classes*/
.article{
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}
.article-image{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-image figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    ;
}
.article-image figure figcaption{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 10px;
    ;
}
.article p{
    text-align: justify;
    font-size: 15px;
    font-weight: 600;
}
.entrevistado-image{
    /*Box-model*/
    height: 150px;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*Visual*/
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 5px 5px 4px rgb(0, 0, 0, 0.25);
}
.article section{
    /*Typography*/
    font-style: italic;
    /*Box-model*/
    margin-top: 50px;
}
/*footer classes*/
.footer{
    /*Visual*/
    background-color: #0cc945;
    border-top: 3px solid #efefef;
    /*Box-model*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.footer-desktop{
    /*Visual*/
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgb(0,0,0,0.25);
    /*Box-model*/
    padding-top: 10px;
}
.footer-desktop p{
    /*Typography*/
    font-size: 13px;
    text-align: justify;
    color: white;
    text-shadow: 2px 1px #969191;
    /*Box-model*/
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.footer-mobile{
    display: none;
}
.footer-logo-if{
    /*Box-model*/
    padding: 10px;
    height: 92px;
    /*Visual*/
    border-radius: 10px;
    box-shadow: 4px 5px 4px rgb(0,0,0,0.25);  
    border: 1px solid black; 
}

/*Adaptação para mobile*/
@media only screen and (max-width: 680px){
    /*Content classes for mobile*/
    .content-section-1{
        margin-left: 5%;
        margin-right: 5%;
    }
    /*Article classes for mobile*/
    .article{
        margin-top: 30px;
        margin-left: 5%;
        margin-right: 5%;

    }
    .article section{
        font-style: italic;
        font-size: 10px;
        ;
    }
    /*Footer classes for mobile*/
    .footer{
        /*Box-modeel*/
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer-mobile{
        /*Box-model*/
        display: block;
        margin-top: 10px;
        height: 15px;
        /*Typography*/
        font-size: 0.8em;
        /**/
    }
    .footer a{
        margin-top: 10px;
    }
    .footer-desktop{
        display: none;
    }
    .footer-logo-if{
        height: 68px;
    }
}
@media only screen and (max-width: 600px){
    html, body{
        width: 100%;
        overflow-x: hidden !important;
    }
    .body{
        min-height: calc(100vh - 100px);
        padding-bottom: 130px;
    }
    footer{
        line-height: 20px;
    }

    /*Header classes*/
    .header-desktop{
        display: none;
    }
    .header-mobile {
        display: block; 
    }
    .header-mobile button{
        box-shadow: 4px 3px 4px rgb(0,0,0,0.25);
    }
    .user-image{
        /*Box-model*/
        margin-right: 5px;
        /*Visual*/
        border: 0.5px solid rgb(0, 0, 0, 0.25);
        border-radius: 50%;
        box-shadow: 2px 3px 4px rgb(0,0,0,0.25);  
    }
}
@media only screen and (max-width: 490px){
    /*Header classes*/
    .header-content-text h1{
        font-size: 20px;
    }
    /*Section classes*/
    .content-section-1{
        width: 90%;
        margin-left: 5%;
    }
    #content-section-1-h2{
        font-size: 20px;
        font-weight: 700;
    }
    #content-section-1-p{
        font-size: 15px;
    }
    .background-image{
        height: 125px;
    }
}


@media only screen and (max-width: 300px){
    .header-content-text h1{
        font-size: 15px;
    }
    .header-mobile img{
        height: 20px;
    }
}